body {
    margin: opx;
}

a {
    color: black;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: aliceblue;

}
