.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px;

    button {
        width: 70px;
        background-color: lightblue;
        border: 1px solid black;
        border-radius: 3px;

        &:hover {
            cursor: pointer;
        }

        &:active {
            transform: translateY(1px);
        }
    }
}